[Desktop Entry]
Version=1.0
Type=Application
Name=Pixelix
Comment=Client for Pixelfed and Vernissage
Exec=pixelix %u
Icon=dev.ghostbyte.pixelix
Terminal=false
Categories=Graphics;Network;Photography;InstantMessaging;
Keywords=fediverse;pixelfed;vernissage;
MimeType=x-scheme-handler/dev.ghostbyte.pixelix;